<html>
<body>
<div class="search">
    <form name="car_search-form" id="car_search-form" method="post" action="/car_results">
        <div class="option-form-group">
            <select name="car_make">
                <option value="bmw">BMW</option>
                <option value="mercedes_benz">Mercedes Benz</option>
                <option value="porsche">Porsche</option>
                <option value="maserati">Maserati</option>
            </select>
        </div>
        <div class="option-form-submit">
            <input type="submit" value="Search" />
        </div>
    </form>
</div>
</body>
</html>